@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities; */
/* 
@layer base {
    :root {
        --primary-background: #3a5b22;
        --primary-foreground: #ffffff;
        --primary-light: #4c7a2a;
        --primary-dark: #2a4318;

        --secondary-background: #ffffff;
        --secondary-foreground: #000000;
        --secondary-light: #f7f7f7;
        --secondary-dark: #d9d9d9;

        --border-primary: #d9d9d9;
        --border-secondary: #a3a3a3;
        --border-light: #e5e5e5;
        --border-dark: #525252;
    }

    body {
        font-family: 'Poppins', sans-serif;
    }
}

@layer utilities {
    .bg-primary-green {
        background-color: var(--primary-background);
    }
    .bg-primary-light {
        background-color: var(--primary-light);
    }
    .bg-primary-dark {
        background-color: var(--primary-dark);
    }

    .bg-secondary-white {
        background-color: var(--secondary-background);
    }
    .bg-secondary-light {
        background-color: var(--secondary-light);
    }
    .bg-secondary-dark {
        background-color: var(--secondary-dark);
    }

    .text-primary-white {
        color: var(--primary-foreground);
    }
    .text-secondary-black {
        color: var(--secondary-foreground);
    }

    .border-primary {
        border-color: var(--border-primary);
    }
    .border-secondary {
        border-color: var(--border-secondary);
    }
    .border-light {
        border-color: var(--border-light);
    }
    .border-dark {
        border-color: var(--border-dark);
    }
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

::placeholder {
    color: #d9d9d9;
    opacity: 1;
}

*:focus {
    outline: none;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 9px;
    height: 9px;
    border: 1px solid #000000;
    border-radius: 2px;
    display: inline-block;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: #3a5b22;
    border-color: #3a5b22;
}

input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 2px;
    top: 0px;
    width: 3px;
    height: 5px;
    border: solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

#root {
    height: 100%;
}
.min-h-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */
